.App {
	text-align: center;
	background-color: #282c34;
	min-height: 90vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 1vmin);
	color: white;
	padding-top: 2vh;
	padding-left: 5vmin;
	padding-right: 5vmin;
	overscroll-behavior: none;
}

.right {
	float: right;
}

.left {
	float: left;
}

.center {
	position: relative;
	overscroll-behavior: none;
}

.unrounded {
	border-radius: 0 !important;
}

.card {
	background-color: #282c34;
	color: black;
}

.bar {
	padding-bottom: 1px !important;
}

.inputs {
	margin-bottom: 1vh !important;
}

.box {
	overflow: auto;
	min-height: 50vh;
	max-height: 70vh;
}

.mainbox {
	overflow-y: scroll;
}

.footer {
	color: rgb(92, 91, 91);
}

.sizedown {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}
